<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('assets/enginerd.jpg')">
      <div class="overlay-div"></div>
      <div class="carousel-caption d-none d-md-block ">

        <div class="row">
          <div class="col-3"></div>
          <%= link_to "Submit a Print Request!", "https://forms.gle/oghWvUGLS3gk7Z7B7", class: "btn btn-success col-6" , target: :_blank %>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <p class="lead col-6">Turn your ideas into reality with Rapid Prototyping!</p>
        </div>

      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('assets/lulzbot.jpg')">
      <div class="overlay-div"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">Check out the Print Queue</h3>
        <p class="lead">We've got a bunch of cool stuff lined up</p>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('assets/lazer.jpg')">
      <div class="overlay-div"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">Submit a Laser Cut Request</h3>
        <p class="lead">Cut plastic because its too expensive to print it!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>