<div class="log-table">
  <table class="table table-sm table-striped table-dark">
    <thead class= "bg-dark">
      <tr>
        <th class= "bg-dark"> Printer </th>
        <th class= "bg-dark"> TimeStamp </th>
        <th class= "bg-dark"> File Name </th>
        <th class= "bg-dark"> Filament Weight </th>
        <th class= "bg-dark"> Print Time </th>
        <th class= "bg-dark"> Cost </th>
        <th class= "bg-dark"></th>
      </tr>
    </thead>
    <tbody>
      <%= render print_logs %>
    </tbody>
  </table>
</div>