<%= form_with url: upload_config_path, id: "upload-form" do |f| %>
	<div class="form-group">
		<%= f.file_field :config_file, id: "upload-field" %>
		<%= f.submit "Upload Cost Config", class: "submit" %>
	</div>
<% end %>
