<div class="title-container text-light">
  <h1><%= @print_log.file_name %></h1>
</div>

<%= render partial: 'partials/log_table', locals: { print_logs: @print_log } %>

<%= link_to 'Edit', edit_print_log_path(@print_log) %> |
<%= link_to 'Back', print_logs_path %>
