<div class="title-container text-light">
  <h1><%= @printer.name %></h1>
</div>

<%= render partial: 'partials/log_table', locals: { print_logs: @print_logs } %>

<%= link_to 'Back', printers_path %>