.fullscreen {
  height: 100vh;
}

.section-light {
  background-color: #444;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	h1 {
		margin: 0;
	}
}

.printers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.printer {
	width: 20%;
	min-width: 200px;
	margin-bottom: 40px;
	margin-left: 5px;
	text-align: center;
}

.log-table{
  max-height: 500px;
  overflow:auto;
}

.log-table thead th {
  position: sticky;
  top: 0;
}

.config-constants {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay-div{
  height:100%;
  width: 100%;
  position:absolute;
  background-color: #000;
  opacity: 0.7;
}